<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>万博龙腾官网 - 建材经销商</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/fevicon.png">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="/css/pbminfotech-base-icons.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/revolution/rs6.css">
</head>
<body>

<!-- page wrapper -->
<div class="page-wrapper">
    <!-- Header Main Area -->
    <header class="site-header header-style-1">
        <%- include("header.ejs", {active: ""}) %>
    </header>
    <!-- Header Main Area End Here -->

    <!-- Page Content -->
    <div class="page-content text-center my-5">
        <!-- Produects -->
        <h1>页面正在装修中...</h1>
    </div>
    <!-- Page Content End -->

    <!-- footer -->
    <div class="pbmit-footer-overlay">
        <div class="pbmit-footer-overlay-inner">
            <div class="container">
                <div class="row">
                    <div class="pbmit-footer-overlay-left col-xl-3 col-md-12"> </div>
                    <div class="pbmit-footer-overlay-right col-xl-9 col-md-12">
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-time-call"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">全国服务热线</span>+(86) 18301159652
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-email"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">公司邮箱</span>
                                    services@wanbodragon.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include footer.ejs%>


</div>
<!-- page wrapper End -->

<!-- JS
   ============================================ -->
<!-- jQuery JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- jquery Waypoints JS -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- jquery Appear JS -->
<script src="/js/jquery.appear.js"></script>
<!-- Numinate JS -->
<script src="/js/numinate.min.js"></script>
<!-- Swiper JS -->
<script src="/js/swiper.min.js"></script>
<!-- Magnific JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Circle Progress JS -->
<script src="/js/circle-progress.js"></script>
<!-- Scripts JS -->
<script src="/js/scripts.js"></script>
<!-- Revolution JS -->
<script src="/revolution/rslider.js"></script>
<script src="/revolution/rbtools.min.js"></script>
<script src="/revolution/rs6.min.js"></script>
</body>
</html>