<footer class="footer site-footer" style="width: 100%">
    <div class="pbmit-footer-widget-area">
        <div class="container">
            <div class="row g-5 justify-content-center">
                <!--                    <div class="pbmit-footer-widget-col-1 col-md-6 col-lg-3">-->
                <!--                        <aside class="widget widget-last">-->
                <!--                            <div class="textwidget">-->
                <!--                                <form>-->
                <!--                                    <div class="form-fields">-->
                <!--                                        <div class="pbmit-footer-newsletter">-->
                <!--                                            <i aria-hidden="true" class="pbmit-industrey-icon pbmit-base-icon-mailbox"></i>-->
                <!--                                            <h4>Sign up for industrey alert, news &amp; inslights</h4>-->
                <!--                                            <div class="pbmit-footer-newsletter-form">-->
                <!--                                                <label>Email address</label>-->
                <!--                                                <input type="email" class="form-control" name="EMAIL" placeholder="Email address" required="">-->
                <!--                                                <button type="submit" value="Sign up"><span>Subscribe</span></button>-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </form>-->
                <!--                            </div>-->
                <!--                        </aside>-->
                <!--                    </div>-->
                <div class="pbmit-footer-widget-col-2 col-md-6 col-lg-4">
                    <div class="widget">
                        <h2 class="widget-title">企业宗旨</h2>
                        <div class="textwidget">
                            <p>
                                我们秉持创新驱动、品质至上的理念，精心打造每一款产品。我们的主题凝聚了对工艺技术的执着追求与对建筑饰面品质的深度理解，即“创新工艺，筑造品质”。<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pbmit-footer-widget-col-3 col-md-12 col-lg-4">
                    <div class="widget">
                        <h2 class="widget-title">产品中心</h2>
                        <ul class="pbmit-rpw-list">
                            <li><a href="about-us.html">内墙涂料</a></li>
                            <li><a href="about-us.html">外墙涂料</a></li>
                            <li><a href="project-single-details.html">涂料辅料</a></li>
                        </ul>
                    </div>
                </div>
                <div class="pbmit-footer-widget-col-4 col-md-6 col-lg-4">
                    <div class="widget">
                        <h2 class="widget-title">立即联络</h2>
                        <div class="textwidget">
                            <p>如果您有任何问题或需要帮助，随时欢迎您与我们的团队取得联系。</p>
                            <h3 class="footer-phone">(+86) 18301159652</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pbmit-footer-bottom">
        <div class="container">
            <div class="pbmit-footer-text-inner">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="pbmit-footer-copyright-box pbmit-footer-copyright-box-2 col-md-6 col-lg-3">
                        <img class="img-fluid" src="/images/LOGO/image_black.png" alt="" style="width: 100%">
                        <div class="menu-quick-links-container">
                            Copyright © 2022 by Wanbodragon, All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer End -->