<div class="pbmit-header-overlay">
    <div class="pre-header">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-branding pbmit-logo-area">
                    <div class="wrap">
                        <h1 class="site-title">
                            <a href="index.html" rel="home">
                                <span class="site-title-text">Industrey Demo1 - Industry and Engineering WordPress Theme</span>
                                <img class="pbmit-main-logo" src="/images/LOGO/LogoX.png" alt="Industrey Demo1" title="Industrey Demo1">
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="pbmit-header-info ml-auto">
                    <div class="pbmit-header-info-inner">
                        <div class="pbmit-header-box pbmit-header-box-2">
                            <a href="#">
										<span class="pbmit-header-box-icon">
											<i class="pbmit-industrey-icon pbmit-industrey-icon-send"></i>
										</span>
                                <span class="pbmit-header-box-title">公司邮箱</span>
                                <span class="pbmit-header-box-content">services@wanbodragon.com</span>
                            </a>
                        </div>
                        <div class="pbmit-header-box pbmit-header-box-3">
                            <a href="#">
										<span class="pbmit-header-box-icon">
											<i class="pbmit-industrey-icon pbmit-industrey-icon-telephone"></i>
										</span>
                                <span class="pbmit-header-box-title">全国服务热线</span>
                                <span class="pbmit-header-box-content">+(86) 18301159652</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-header-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-center justify-content-between header-menu-area">
                        <div class="site-branding">
										<span class="site-title">
											<a href="index.html">
												<img class="pbmit-sticky-logo" src="/images/LOGO/LogoX.png" alt="Industrey Demo1" title="Industrey Demo1">
											</a>
										</span>
                        </div>
                        <div class="site-navigations">
                            <nav class="main-menu navbar-expand-xl navbar-light">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button class="navbar-toggler" type="button">
                                        <i class="pbmit-base-icon-menu-1"></i>
                                    </button>
                                </div>
                                <div class="pbmit-mobile-menu-bg"></div>
                                <div class="collapse navbar-collapse clearfix show" id="pbmit-menu">
                                    <div class="pbmit-menu-wrap">
                                        <ul class="navigation clearfix">
                                            <li class="active"><a href="/">首页</a></li>
                                            <li><a href="/goods">产品中心</a></li>
                                            <li><a href="contact-us.html">联系我们</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>