<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Norton Berry – Industrey HTML Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/fevicon.png">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="css/pbminfotech-base-icons.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

<!-- Page Wrapper -->
<div class="page-wrapper">
    <!-- Header Main Area -->
    <header class="site-header header-style-1">
        <div class="pbmit-header-overlay">
            <div class="pre-header">
                <div class="container">
                    <div class="d-flex align-items-center">
                        <div class="site-branding pbmit-logo-area">
                            <div class="wrap">
                                <h1 class="site-title">
                                    <a href="index.html" rel="home">
                                        <span class="site-title-text">Industrey Demo1 - Industry and Engineering WordPress Theme</span>
                                        <img class="pbmit-main-logo" src="/images/homepage-1/logo-white-dark.png" alt="Industrey Demo1" title="Industrey Demo1">

                                    </a>
                                </h1>
                            </div>
                        </div>
                        <div class="pbmit-header-info ml-auto">
                            <div class="pbmit-header-info-inner">
                                <div class="pbmit-header-box pbmit-header-box-2">
                                    <a href="#">
										<span class="pbmit-header-box-icon">
											<i class="pbmit-industrey-icon pbmit-industrey-icon-send"></i>
										</span>
                                        <span class="pbmit-header-box-title">公司邮箱</span>
                                        <span class="pbmit-header-box-content">services@wanbodragon.com</span>
                                    </a>
                                </div>
                                <div class="pbmit-header-box pbmit-header-box-3">
                                    <a href="#">
										<span class="pbmit-header-box-icon">
											<i class="pbmit-industrey-icon pbmit-industrey-icon-telephone"></i>
										</span>
                                        <span class="pbmit-header-box-title">全国服务热线</span>
                                        <span class="pbmit-header-box-content">+(86) 18301141265</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-header-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex align-items-center justify-content-between header-menu-area">
                                <div class="site-branding">
										<span class="site-title">
											<a href="index.html">
												<img class="pbmit-sticky-logo" src="/images/homepage-1/industrey-logo.svg" alt="Industrey Demo1" title="Industrey Demo1">
											</a>
										</span>
                                </div>
                                <div class="site-navigations">
                                    <nav class="main-menu navbar-expand-xl navbar-light">
                                        <div class="navbar-header">
                                            <!-- Toggle Button -->
                                            <button class="navbar-toggler" type="button">
                                                <i class="pbmit-base-icon-menu-1"></i>
                                            </button>
                                        </div>
                                        <div class="pbmit-mobile-menu-bg"></div>
                                        <div class="collapse navbar-collapse clearfix show" id="pbmit-menu">
                                            <div class="pbmit-menu-wrap">
                                                <ul class="navigation clearfix">
                                                    <li><a href="/">首页</a></li>
                                                    <li class="active"><a href="/goods">产品中心</a></li>
                                                    <li><a href="contact-us.html">联系我们</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Main Area End Here -->
    
    <!-- Title Bar -->
    <div class="pbmit-title-bar-wrapper">
        <div class="container">
            <div class="pbmit-title-bar-content">
                <div class="pbmit-title-bar-content-inner">
                    <div class="pbmit-tbar">
                        <div class="pbmit-tbar-inner container">
                            <h1 class="pbmit-tbar-title">内墙乳胶漆</h1>
                        </div>
                    </div>
                    <div class="pbmit-breadcrumb">
                        <div class="pbmit-breadcrumb-inner">
                            <span><a title="" href="#" class="home"><span>产品中心</span></a></span>
                            <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                            <span><span class="post-root post post-post">内墙外墙</span></span>
                            <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                            <span><span class="post-root post post-post current-item">内墙乳胶漆</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title Bar End-->
    

    <!-- Page Content -->
    <div class="page-content">

        <!-- Candidate Details-->
        <section class="pbmit-team-single">
            <div class="container">
                <div class="pbmit-team-details">
                    <div class="pbmit-team-single-info">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-6">
                                <div class="pbmit-team-left-inner">
                                    <div class="pbmit-team-download">
                                        <a href="#">内墙乳胶漆</a>
                                    </div>
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/products/1-2209301539445J.jpg" class="img-fluid w-100 h-100 border" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="pbmit-team-des">
                                    <div class="pbmit-team-des-wrap d-flex justify-content-between">
                                        <div class="pbmit-team-summary">
                                            <h2 class="pbmit-team-title">内墙乳胶漆</h2>
<!--                                            <h4 class="pbmit-team-designation">内墙外墙</h4>-->
                                        </div>
                                    </div>
                                    <ul class="pbmit-single-team-info">
                                        <li>
                                            <label>Phone</label> 123456789
                                        </li>
                                        <li>
                                            <label>Email</label>
                                            <a href="/cdn-cgi/l/email-protection#d4bdbab2bb94a0bcb1b9b1a7a0b1bffab7bbb9"><span class="__cf_email__" data-cfemail="2940474f46695d414c444c5a5d4c42074a4644">[email&#160;protected]</span></a>
                                        </li>
                                        <li>
                                            <label>Website</label>
                                            <a href="http://www.themestek.com">www.themestek.com</a>
                                        </li>
                                        <li>
                                            <label>Fax</label> 123456789
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="team-details-wrap">
                            <h3 class="pbmit-title">内墙乳胶漆</h3>
                            <p>内墙乳胶漆是一种环保、易施工、耐擦洗、防潮防霉、色彩丰富且保色性好的水性涂料，适用于各类室内墙面装饰与保护。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Candidate  Details end -->

    </div>
    <!-- Page Content End -->
    <!-- footer -->
    <div class="pbmit-footer-overlay">
        <div class="pbmit-footer-overlay-inner">
            <div class="container">
                <div class="row">
                    <div class="pbmit-footer-overlay-left col-xl-3 col-md-12"> </div>
                    <div class="pbmit-footer-overlay-right col-xl-9 col-md-12">
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-time-call"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">全国服务热线</span>+(86) 18301159652
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-email"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">公司邮箱</span>
                                    services@wanbodragon.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer site-footer" style="width: 100%">
        <div class="pbmit-footer-widget-area">
            <div class="container">
                <div class="row g-5 justify-content-center">
                    <!--                    <div class="pbmit-footer-widget-col-1 col-md-6 col-lg-3">-->
                    <!--                        <aside class="widget widget-last">-->
                    <!--                            <div class="textwidget">-->
                    <!--                                <form>-->
                    <!--                                    <div class="form-fields">-->
                    <!--                                        <div class="pbmit-footer-newsletter">-->
                    <!--                                            <i aria-hidden="true" class="pbmit-industrey-icon pbmit-base-icon-mailbox"></i>-->
                    <!--                                            <h4>Sign up for industrey alert, news &amp; inslights</h4>-->
                    <!--                                            <div class="pbmit-footer-newsletter-form">-->
                    <!--                                                <label>Email address</label>-->
                    <!--                                                <input type="email" class="form-control" name="EMAIL" placeholder="Email address" required="">-->
                    <!--                                                <button type="submit" value="Sign up"><span>Subscribe</span></button>-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                </form>-->
                    <!--                            </div>-->
                    <!--                        </aside>-->
                    <!--                    </div>-->
                    <div class="pbmit-footer-widget-col-2 col-md-6 col-lg-4">
                        <div class="widget">
                            <h2 class="widget-title">企业宗旨</h2>
                            <div class="textwidget">
                                <p>
                                    我们秉持创新驱动、品质至上的理念，精心打造每一款产品。我们的主题凝聚了对工艺技术的执着追求与对建筑饰面品质的深度理解，即“创新工艺，筑造品质”。<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pbmit-footer-widget-col-3 col-md-12 col-lg-4">
                        <div class="widget">
                            <h2 class="widget-title">产品中心</h2>
                            <ul class="pbmit-rpw-list">
                                <li><a href="about-us.html">内墙涂料</a></li>
                                <li><a href="about-us.html">外墙涂料</a></li>
                                <li><a href="project-single-details.html">涂料辅料</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pbmit-footer-widget-col-4 col-md-6 col-lg-4">
                        <div class="widget">
                            <h2 class="widget-title">立即联络</h2>
                            <div class="textwidget">
                                <p>如果您有任何问题或需要帮助，随时欢迎您与我们的团队取得联系。</p>
                                <h3 class="footer-phone">(+86) 18301159652</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pbmit-footer-bottom">
            <div class="container">
                <div class="pbmit-footer-text-inner">
                    <div class="row d-flex align-items-center justify-content-center">

                        <div class="pbmit-footer-copyright-box pbmit-footer-copyright-box-2 col-md-6 col-lg-3">
                            <img class="img-fluid" src="/images/footer-logo.png" alt="">
                            <div class="menu-quick-links-container">
                                Copyright © 2022 by <a href="http://www.bootstrapMB.com">bootstrapMB</a>, All Rights Reserved.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End -->

</div>
<!-- Page Wrapper End -->

<!-- Search Box Start Here -->
<div class="pbmit-search-overlay">
    <div class="pbmit-icon-close"></div>
    <div class="pbmit-search-outer">
        <form class="pbmit-site-searchform">
            <input type="search" class="form-control field searchform-s" name="s" placeholder="Search …">
            <button type="submit">
                <i class="pbmit-base-icon-search-1"></i>
            </button>
        </form>
    </div>
</div>
<!-- Search Box End Here -->

<!-- JS
    ============================================ -->
<!-- jQuery JS -->
<script src="js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jquery Waypoints JS -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- jquery Appear JS -->
<script src="js/jquery.appear.js"></script>
<!-- Numinate JS -->
<script src="js/numinate.min.js"></script>
<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>
<!-- Magnific JS -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Circle Progress JS -->
<script src="js/circle-progress.js"></script>
<!-- Scripts JS -->
<script src="js/scripts.js"></script>
</body>
</html>