<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>内墙乳胶漆 - 万博龙腾官网 - 建材经销商</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/fevicon.png">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- Base Icons -->
    <link rel="stylesheet" href="css/pbminfotech-base-icons.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

<!-- Page Wrapper -->
<div class="page-wrapper">
    <!-- Header Main Area -->
    <header class="site-header header-style-1">
        <%- include("header.ejs", {active: "goods"}) %>
    </header>
    <!-- Header Main Area End Here -->
    
    <!-- Title Bar -->
    <div class="pbmit-title-bar-wrapper">
        <div class="container">
            <div class="pbmit-title-bar-content">
                <div class="pbmit-title-bar-content-inner">
                    <div class="pbmit-tbar">
                        <div class="pbmit-tbar-inner container">
                            <h1 class="pbmit-tbar-title">内墙乳胶漆</h1>
                        </div>
                    </div>
                    <div class="pbmit-breadcrumb">
                        <div class="pbmit-breadcrumb-inner">
                            <span><a title="" href="#" class="home"><span>产品中心</span></a></span>
                            <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                            <span><span class="post-root post post-post">内墙外墙</span></span>
                            <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                            <span><span class="post-root post post-post current-item">内墙乳胶漆</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title Bar End-->
    

    <!-- Page Content -->
    <div class="page-content">

        <!-- Candidate Details-->
        <section class="pbmit-team-single">
            <div class="container">
                <div class="pbmit-team-details">
                    <div class="pbmit-team-single-info">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-lg-6">
                                <div class="pbmit-team-left-inner">
                                    <div class="pbmit-team-download">
                                        <a href="#">内墙乳胶漆</a>
                                    </div>
                                    <div class="pbmit-featured-wrapper">
                                        <img src="/images/products/1-2209301539445J.jpg" class="img-fluid w-100 h-100 border" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="pbmit-team-des">
                                    <div class="pbmit-team-des-wrap d-flex justify-content-between">
                                        <div class="pbmit-team-summary">
                                            <h2 class="pbmit-team-title">内墙乳胶漆</h2>
<!--                                            <h4 class="pbmit-team-designation">内墙外墙</h4>-->
                                        </div>
                                    </div>
                                    <ul class="pbmit-single-team-info">
                                        <li>
                                            <label>联系电话</label> 18301159652
                                        </li>
                                        <li>
                                            <label>客户经理</label> 张经理
                                        </li>
                                        <li>
                                            <label>Email</label>
                                            services@wanbodragon.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="team-details-wrap">
                            <h3 class="pbmit-title">内墙乳胶漆</h3>
                            <p>内墙乳胶漆是一种环保、易施工、耐擦洗、防潮防霉、色彩丰富且保色性好的水性涂料，适用于各类室内墙面装饰与保护。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Candidate  Details end -->

    </div>
    <!-- Page Content End -->
    <!-- footer -->
    <div class="pbmit-footer-overlay">
        <div class="pbmit-footer-overlay-inner">
            <div class="container">
                <div class="row">
                    <div class="pbmit-footer-overlay-left col-xl-3 col-md-12"> </div>
                    <div class="pbmit-footer-overlay-right col-xl-9 col-md-12">
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-time-call"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">全国服务热线</span>+(86) 18301159652
                                </div>
                            </div>
                        </div>
                        <div class="pbmit-footer-contact-info">
                            <div class="pbmit-footer-contact-info-inner d-flex align-items-center">
                                <i class="pbmit-industrey-icon pbmit-base-icon-email"></i>
                                <div class="pbmit-footer-contact-info-wrap">
                                    <span class="pbmit-label pbmit-label-2">公司邮箱</span>
                                    services@wanbodragon.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include footer.ejs%>


</div>
<!-- Page Wrapper End -->


<!-- JS
    ============================================ -->
<!-- jQuery JS -->
<script src="js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jquery Waypoints JS -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- jquery Appear JS -->
<script src="js/jquery.appear.js"></script>
<!-- Numinate JS -->
<script src="js/numinate.min.js"></script>
<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>
<!-- Magnific JS -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Circle Progress JS -->
<script src="js/circle-progress.js"></script>
<!-- Scripts JS -->
<script src="js/scripts.js"></script>
</body>
</html>